.DOUSER {
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color: rgb(255, 64, 0);
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(176, 176, 176);
}
body {
    background-color: rgb(64,64,64);
}
a {
    color: rgb(160, 208, 255);

    &:visited {
        color: rgb(160, 160, 255);
    }
}
h3 {
    margin-top: 16px;
    margin-bottom: 4px;
}
h4 {
    margin-top: 16px;
    margin-bottom: 4px;
}
p {
    margin: 0px;

}

.paragraph {
    background-color: rgb(48,48,48);

    border-radius: 4px;

    padding: 4px;
}
.detailedRef {
    display: inline-block;

    position: relative;
    width: min-content;
    background-image: radial-gradient(at top left, rgb(80,80,80), rgb(40,40,40));

    border-style: outset;
    border-width: 2px;
    border-radius: 8px;
    border-image: rgb(160,160,160);
    
    padding: 4px;
    margin: 4px;
}
.detailedRefImg {
    height: 256px;

    border-style: inset;
    border-width: 2px;
    border-radius: 4px;
}
.bottomBreak {
    display: flex;
    flex-direction: column;

    position: relative;
    height: 2px;
    background-color: rgb(32,32,32);

    border-radius: 8px;

    margin-top: 64px;
    margin-bottom: 16px;
}